/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply your color palette */
:root {
    --primary-red: #FF0000;
    --primary-yellow: #ffff00;
    --primary-orange: #FF8C00;
    --support-brown: #7c2020;
    --support-white: #FFFFFF;
    --support-gray: #c39393a8;
}

a {
    text-decoration: none;
  }
  


body { 
    background: var(--primary-yellow);
}

.home {
    /* Set the background image and its properties */
    background-image: url('assets/photo/home.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100vh; 
    display: flex;
    flex-direction: column-reverse;
  }


.home h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 10vh;
    color: #ffffff;
    width: 65vh;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    padding-left: 2vw;
}

.home h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5vh;
    color: #ffffff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    padding-left: 2vw;
    padding-bottom: 1vh;
    width: 65vw;
}

.button {
    padding-left: 2vw;
    padding-bottom: 25vh;
}

#title-navbar{
    font-weight: bold !important ;
    font-family: 'Montserrat', sans-serif;
}

.language-switcher {
    display: flex;
    align-items: center;
}

#language-toggle {
    height:fit-content
}

.navbar-username { 
    padding-left: 1vw;
    display: flex;
    align-items: center;
}

.navbar-profile-pict {
    padding-left: 1vw;
    height: auto;
    width: auto;
}

#scroll-button {
    background-color: var(--primary-orange); /* Background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding around the button text */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Change the cursor to a pointer on hover */
    font-size: 16px; /* Font size */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    transition: background-color 0.3s ease-in-out; 
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#scroll-button:hover {
    background-color: var(--primary-orange); /* Change background color on hover */
}


/* Style the navbar */
.navbar {
    background-color: var(--support-brown);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: var(--support-white);
    font-family: 'Montserrat', sans-serif;
}

.mobile-navbar-top {
    display : none;
    background-color: var(--support-brown);
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: var(--support-white);
    font-family: 'Montserrat', sans-serif;
}

.mobile-navbar-bottom {
    display : none;
    background-color: var(--support-brown);
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: var(--support-white);
    font-family: 'Montserrat', sans-serif;
}

footer {
    height: 20vh;
    background-color: #7c2020;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    align-items: end;
    padding-bottom: 1vh;
    
}

footer .left, .middle, .right{
    width: 100vw;
    flex-basis: 33.33%;
    padding-bottom: 0.5vh;
  }

footer .left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
}

footer .middle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

footer h2  {
    color:#ffffffc6;
    padding-left: 2vw;
}


footer ul li p {
    font-size: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:#ffffff9c;
    padding-left: 2vw;
    list-style-type: none;
    
}

footer a {
    color:#ffffff9c;
}

footer ul li {
    list-style-type: none;
}



@media screen and (max-width: 600px) {

    .navbar {
        display: none;

    }
    .mobile-navbar-bottom {
        display: flex;
        position: fixed;
        bottom: 0px;
        height: 5vh;
        width: 100vw;
        z-index: 100;
        
    }

    .mobile-navbar-top {
        display: flex; 
        height: 5vh;
        width: 100vw;
        z-index: 100;
        display: flex;
        position: fixed;
        top: 0;
    }

    .mobile-navbar-bottom .search-box .search-input input[type="text"] {
        width: 75vw; 
        padding-left: 1vw;
    }
    
    .mobile-navbar .search-box .search-button {
        padding-right: 1vw;
    }

    .mobile-navbar-bottom .search-box {
        height: auto;
    }

    .home h1 {
        font-size: 15vw;
        width: 100vw;
    }

    .home h2 {
        font-size: 7.5vw;
        width: 75vw;
    }

    .home .button {
        padding-bottom: 9vh;
    }

    .mobile-navbar-top .navbar-username {
        padding-left: 0.5vw;
    }

    .rec{
        border-radius: 5px;
    }

}

/* Style the logo */
.logo a {
    text-decoration: none;
    color: var(--support-white);
    font-size: 24px;
}

/* Style the search box and language switcher */
.search-language {
    display: flex;
    align-items: center;
}

.search-box {
    margin-right: 20px;
}

.search-box input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    width: 40vw;
    background-color: #c39393a8;
    border-radius: 5px;
    border-color: #FF0000;
}

.search-box input[type="text"]::placeholder {
    color: #ffffff; 
    font-family: 'Merriweather', serif;
}

/* Add transitions for smooth opacity changes to the placeholder span */
.placeholder-fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; /* Prevent interaction with the span */
}

/* Style the search box container */
.search-box {
    display: flex;
    align-items: center; /* Vertically align items */
}

/* Style the search input */
.search-input {
    position: relative;
    flex-grow: 1; /* Allow the input to grow and take available space */
}

/* Style the search button */
.search-button {
    background: none; /* Remove button background */
    border: none; /* Remove button border */
    cursor: pointer;
    padding: 0; /* Remove button padding */
    margin-left: 10px; /* Adjust spacing between input and button */
}


.search-box button {
    background-color: var(--primary-yellow);
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    color: var(--support-brown);
    cursor: pointer;
    font-size: 14px;
}
.search-box button span {
    font-size: 14px;
  }

.language-switcher select {
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    background-color: var(--support-gray);
    color: var(--support-white);
}

.recommendation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: 10px var(--primary-yellow);
  position: relative;
  overflow-x: scroll;
  overflow-y: none;
  height: auto;
  max-width: 100%;
}

.rec {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  height: 300px;
  background-color: var(--primary-orange);
  width: 100%;
  min-width: 33.333vw;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-yellow);
  border-radius: 5px;
  z-index: 25;
  
}

.rec-title {
    font-size: 20px;
    padding-top: 10px;
}

.rec:hover {
    transform: scale(1.01);
}

.line-break {
    width: 100%;
  }


.food-title {
    text-align: center;
    width: 100%;
    height: 60vh;
    padding: 30vh 0;
    background-color: pink;
}

.food-desc {
    width: 80%;
    margin: auto;
    padding: 5vh 0;
    font
}

.bg {
    width: 100%;
    background-color: var(--support-brown);
    height:35vh;
}


.main-desc {
    font-size: 10px;
}

.desc-img {
    border: 10px var(--support-brown);
    border-radius: 10px;
    width: 180px;
    height: auto;
}

.recommendation-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--support-brown);
    color: var(--support-white);
    letter-spacing: 5px;
    font-size: 2vw;
    font-family: 'Croissant One', cursive;
    padding-bottom: 20px;
    padding-top: 10px;
    z-index: 1;
}

.sub-home {
    /* Set the background image and its properties */
    background-image: url('assets/photo/home.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 70vh; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

.sub-home h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 7vh;
    color: #ffffff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
    padding-left: 2vw;
    padding-bottom: 1vh;
    width: 65vw;
    margin: auto;
}

.sub-main {
    width: 100%;
    height: 300px;
    background-color: #7c2020;
    display: flex;
    flex-direction: row;
    padding-bottom: ;
    color:  white;
    font-family: 'Dela Gothic One', cursive;
}

.delivery {
    display: flex;
    height: auto;
    width: 500px;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
}


.delivery > img {
    width: 150px;
    height: auto;
    margin:auto;
}

.delivery > h1 {
    width: 180px;
    height: auto;
    margin:auto;
    color: white;
}

.sub-main ul {
    width: 200px;
    height: auto;
    margin:auto;
    margin-left: 40px;
    color: white;
    text-decoration: none;
}